.see__title {
  width: 87vw;
  max-width: 122vh;
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 500;
  font-size: 1.56vw;
  line-height: 3vw;
  letter-spacing: -0.7px;
  color: #222222;
  position: relative;
  left: 7vw;
  top: 1.2vw;
  margin: 0;
}

@media screen and (min-width: 2560px) {
  .see__title {
    width: 83vw;
    max-width: 2130px;
    left: 7vw;
    top: 2vw;
  }
}
