.header__text-loginin {
  position: relative;
  top: 0.2vh;
  right: 0.9%;
  margin: 0;
}

@media screen and (max-width: 900px) {
  .header__text-loginin {
    display: none;
  }
}

@media screen and (min-width: 2560px) {
  .header__text-loginin {
    height: 1.5vh;
    font-size: 0.8vw;
    margin: 0;
    top: 0.5vh;
    right: 1.5vw;
  }
}
