.header__input {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 0.85vw;
  line-height: 1.2vw;
  width: 33.5vw;
  height: 3.4vh;
  border-radius: 0.3vw;
  position: relative;
  bottom: 0.2vh;
  outline: none;
  border: 0.2vw solid #BDBDBD;
  opacity: 0.35;
}