.header__button-basket {
  max-width: 14.5vw;
  width: 10.5vw;
  height: 2.9vh;
  max-height: 2.5vw;
  position: relative;
  top: 0.6vh;
  left: 0.2%;
  border-radius: 0.4vw;
  border: 0;
  background-color: #d2001c;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  font-style: normal;
  font-weight: 600;
  font-size: 0.85vw;
}

@media screen and (max-width: 680px) {
  .header__button-basket {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .header__button-basket {
    width: 17vw;
    max-width: 20.5vw;
    font-size: 1vw;
    letter-spacing: 0.04vw;
    top: 0;
  }
}

@media screen and (min-width: 2560px) {
  .header__button-basket {
    max-width: 19vw;
    height: 4.1vh;
    max-height: 4.1vh;
    top: 0.6vh;
    font-size: 0.85vw;
  }
}
