.about__button {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 500;
  font-size: 0.97vw;
  line-height: 1.2vw;
  position: relative;
  top: 2.6vw;
  width: 18.3vw;
  max-width: 26vh;
  height: 3vh;
  max-height: 3vh;
  color: #ffffff;
  background-color: #d2001c;
  border: 0;
  border-radius: 0.3vw;
  outline: none;
}

@media screen and (min-width: 2560px) {
  .about__button {
    width: 18.4vw;
    max-width: 469.91px;
    height: 5.1vh;
    max-height: 72.61px;
  }
}
