.header__img-exit {
  height: 1.9vh;
  max-height: 1.9vh;
  position: relative;
  top: 0.6vh;
  right: 0.4%;
}

@media screen and (max-width: 900px) {
  .header__img-exit {
    display: none;
  }
}

@media screen and (min-width: 2560px) {
  .header__img-exit {
    height: 2.8vh;
    top: 0.6vh;
    right: 1.1vw;
  }
}
