.see__link {
  display: flex;
  justify-content: flex-start;
  width: 80vw;
  position: relative;
  top: 3.8vw;
  font-style: normal;
  font-weight: normal;
  font-size: 1.04vw;
  line-height: 1.4vw;
  color: #4d4d4d;
  left: 7vw;
}

@media screen and (min-width: 2560px) {
  .see__link {
    max-width: 2130px;
    width: 84vw;
    left: 7vw;
    top: 4.7vw;
  }
}
