.header__list-menu {
  display: flex;
  justify-content: center;
  list-style-type: none;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  bottom: 0.5vh;
  position: relative;
  padding: 0 0 1.7vh 0;
  border-bottom: 0.1vh solid #BDBDBD;
  margin: 0;
}