.header__soc {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 0.96vw;
  line-height: 18px;
  color: #000000;
  letter-spacing: -0.06vw;
}

@media screen and (min-width: 2560px) {
  .header__soc {
    font-size: 1.03vw;
  }
}