.header__list.header__list_social {
  position: relative;
  left: 7.6vw;
}

@media screen and (min-width: 2560px) {
  .header__list.header__list_social:last-child {
    top: 0.1vh;
    left: 0.5vw;
  }
}

