.header__form {
  display: flex;
  align-items: center;
  width: 35.5vw;
  position: relative;
  top: 0.6vh;
}

@media screen and (max-width: 900px) {
  .header__form {
    display: none;
  }
}

@media screen and (min-width: 2560px) {
  .header__form {
    width: 36.5vw;
    top: 0.6vh;
  }
}
