.header__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 8px 33px rgba(0,0,0,0.1);
}

@media screen and (max-width: 900px) {
  .header__info {
    align-items: center;
    justify-content: center;
    height: 7.5vh;
  }
}