.header__button {
  font-style: normal;
  font-weight: 600;
  font-size: 0.85vw;
  line-height: 1.2vh;
  max-width: 7vw;
  width: 4.9vw;
  height: 2.9vh;
  max-height: 2.5vw;
  position: absolute;
  right: 1.7vw;
  border: 0.2vw solid #d2001c;
  border-radius: 0.3vw;
  color: #d2001c;
  padding: 0;
  outline: none;
  background-color: #ffffff;
}

@media screen and (min-width: 2560px) {
  .header__button {
    width: 4.9vw;
    position: absolute;
    right: 2.9vw;
    height: 3.9vh;
    max-height: 3.9vh;
    border: 0.15vw solid #d2001c;
  }
}
