.header__input {
  font-style: normal;
  font-weight: 600;
  font-size: 0.85vw;
  line-height: 1.2vw;
  max-width: 900px;
  width: 33.5vw;
  height: 3.4vh;
  max-height: 2.4vw;
  border-radius: 0.3vw;
  outline: none;
  border: 0.2vw solid #bdbdbd;
  opacity: 0.35;
}

@media screen and (min-width: 2560px) {
  .header__input {
    font-size: 0.95vw;
    height: 5.4vh;
    max-height: 2.3vw;
    width: 33.35vw;
    max-width: 33.6vw;
  }
}
