@import url('./__list-menu_market/header__list-menu_market.css');

.header__list-menu {
  display: flex;
  justify-content: center;
  list-style-type: none;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 0.85vw;
  line-height: 1.2vw;
  color: #000000;
  padding: 0.6vw 0 1.4vw 0;
  border-bottom: 0.1vh solid #BDBDBD;
  margin: 0;
}

@media screen and (max-width: 900px) {
  .header__list-menu {
    display: none;
  }
}

@media screen and (min-width: 2560px) {
  .header__list-menu {
    font-size: 0.94vw;
    padding: 0.5vw 0 1.5vw 0;
  }
}