@import url('./__contacts/header__contacts.css');
@import url('./__list/header__list.css');
@import url('./__soc/header__soc.css');
@import url('./__list-item/header__list-item.css');
@import url('./__list-tel/header__list-tel.css');
@import url('./__info/header__info.css');
@import url('./__slogan/header__slogan.css');
@import url('./__form/header__form.css');
@import url('./__list-menu/header__list-menu.css');
@import url('./__item/header__item.css');
@import url('./__info-menu/header__info-menu.css');
@import url('./__logo/header__logo.css');
@import url('./__link-write/header__link-write.css');
@import url('./__yandex/header__yandex.css');
@import url('./__input/header__input.css');
@import url('./__button/header__button.css');
@import url('./__img-exit/header__img-exit.css');
@import url('./__text-loginin/header__text-loginin.css');
@import url('./__button-basket/header__button-basket.css');
@import url('./__item-link/header__item-link.css');
@import url('./__img/header__img.css');
@import url('./__img-basket/header__img-basket.css');
@import url('./__contacts-img/header__contacts-img.css');
@import url('./__img-market/header__img-market.css');
@import url('./__form-wrapper/header__form-wrapper.css');
@import url('./__menu-picture/header__menu-picture.css');
@import url('./__searchpicture/header__searchpicture.css');
@import url('./__contact/header__contact.css');
@import url('./__img-basket-two/header__img-basket-two.css');

.header {
  max-width: 2560px;
  width: 94%;
  margin-top: 0.8vw;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 0.9vw;
  color: #000000;
  padding: 0vw 0 4.4vw 0;
}

@media screen and (max-width: 900px) {
  .header {
    width: 81.7%;
    margin-top: 0;
    padding: 0vw 0 1.4vw 0;
  }
}

@media screen and (min-width: 2560px) {
  .header {
    max-width: 2400px;
    margin-top: 0.8vw;
    padding: 0vw 0 4.7vw 0;
  }
}

