@import url("./_social/header__list_social.css");

.header__list {
  display: flex;
  position: relative;
  left: 2.6vw;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-style: normal;
  font-weight: 600;
  font-size: 0.96vw;
  line-height: 18px;
  color: #000000;
  letter-spacing: -0.05vw;
}

@media screen and (min-width: 2560px) {
  .header__list {
    font-size: 1.03vw;
  }
}
