.header__list-menu.header__list-menu_market {
  display: flex;
  justify-content: center;
  list-style-type: none;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 0.8vw;
  line-height: 1.2vw;
  color: #000000;
  padding: 0 0 1.8vh 0;
  border-bottom: 0 solid #BDBDBD;
  margin: 0;
}

@media screen and (max-width: 900px) {
  .header__list-menu.header__list-menu_market {
    display: none;
  }
}

@media screen and (min-width: 2560px) {
  .header__list-menu.header__list-menu_market {
    font-size: 0.8vw;
    padding: 1vh 0 2.3vh 0
  }
}