.header__form-wrapper {
  width: 78vw;
  max-width: 2050px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 2560px) {
  .header__form-wrapper {
    max-width: 2500px;
  }
}
